$black-color : #101415;
$white-color: #fff;
$grey-color : #dbdbdb;
$btn-color : #fefded;
$bage-background: #d5d5d5;
$card-background: #f2f2f2;
$green:#d6fec5;
$yellow:#fdffae;
$blue:#d6edfe;
$rosegold:#fde2cd;