@use 'fonts';
@use 'reset';
@use 'components';
@use 'variables' as v;



// Global CSS
html {
    font-size: 62.5%;
}

body {
    font-family: 'AR', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

::selection {
    color: #fefded;
    background: #101415;
}

// Start main nav 
.main-nav {
    // border: 1px solid red;
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    padding-block: 1rem;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);

    >.row {
        justify-content: space-between;
        align-items: center;
        // >* {
        //     border: 1px solid blue;
        // }

        >.logo {
            width: 6rem;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                width: 100%;
            }
        }

        >.mobile-menu {
            width: 100%;
            max-height: 0;
            transition: 0.5s linear;
            overflow: hidden;
            order: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;



            >li {
                // border: 1px solid red;
                width: 100%;

                >a {
                    text-transform: capitalize;
                    display: flex;
                    width: 100%;
                    height: 100%;
                    // background-color: blue;
                    font-size: 3rem;
                    color: v.$black-color;
                }
            }

            &.show {
                max-height: 100vh;
            }
        }

        >.desktop-menu {
            display: none;
        }

        >div {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            // background-color: red;

            >div {

                gap: 1rem;


                >.vline {
                    display: flex;
                    width: 1px;
                    height: 20px;
                    background-color: grey;
                }
            }

            .toggle-menu {
                width: 50px;
                height: 50px;
                border: none;
                outline: none;
                background-color: transparent;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                &::before,
                &::after {
                    content: '';
                    display: flex;
                    width: 70%;
                    height: 2px;
                    border-radius: 15px;
                    background-color: v.$black-color;
                    position: absolute;
                    transition: 0.4s;
                }

                &::before {
                    transform: translateY(-5px);
                }

                &:after {
                    transform: translateY(5px);
                }

                &.show {
                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }

            }
        }
    }


}

@media screen and (min-width:992px) {
    .main-nav {
        >.row {

            >.logo {
                width: 8rem;
            }

            .mobile-menu {
                display: none;
            }

            >.desktop-menu {
                display: flex;
                // border: 1px solid red;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                >li {
                    // border: 1px solid rgb(0, 30, 255);
                    height: 40px;

                    >a {
                        text-transform: capitalize;
                        font-size: 1.6rem;
                        color: v.$black-color;
                    }
                }
            }

            >div {

                .toggle-menu {
                    display: none;
                }
            }
        }

    }


}

// End main nav 

// Start main
// Start top header
.top-header {


    >* {
        // border: 1px solid red;
        width: 100%;
        // min-height: 600px;
    }

    >figure {
        display: flex;
        justify-content: center;
        align-items: center;


        >img {
            width: 28%;

            height: 300px;
            object-fit: cover;
            border-radius: 20px;
            filter: drop-shadow(-10px 2px 15px rgba(61, 61, 61, .404));

            &:nth-of-type(2),
            &:nth-of-type(4) {
                margin-top: 7rem;
                margin-left: -4rem;
            }
        }
    }

    >section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8rem 2rem;

        >h1 {
            font-size: min(7rem, 7vw);
            line-height: 1;
            margin-bottom: 1.5rem;
        }

        >p {
            text-align: justify;
            margin-bottom: 3rem;
        }

        >div {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 3rem;

            &:nth-of-type(1) {
                >a {
                    font-weight: bold;
                    width: fit-content;
                    padding: 0 2rem;
                }
            }

            &:nth-of-type(2) {
                >figure {
                    display: flex;

                    >img {
                        width: 6rem;
                        height: 6rem;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 3px solid white;

                        &:not(:first-child) {
                            margin-left: -1.5rem;
                        }
                    }
                }

                >h3 {
                    display: flex;
                    flex-direction: column;

                    >strong {
                        font-size: 2rem;
                        text-transform: uppercase;
                    }

                    >em {
                        font-weight: normal;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:576px) {
    .top-header {
        >figure {
            >img {
                width: 25%;
                height: 400px;

                &:nth-of-type(2),
                &:nth-of-type(4) {
                    margin-top: 10rem;
                    margin-left: -4rem;
                }
            }
        }
    }

}

@media screen and (min-width:992px) {

    .top-header {
        >* {
            width: 50%;
        }

        >figure {
            padding-bottom: 3rem;
            order: 1;

            >img {
                width: 25%;
                height: 400px;

                &:nth-of-type(2),
                &:nth-of-type(4) {
                    margin-top: 10rem;
                    margin-left: -2rem;
                }
            }
        }
    }
}

// main
main {
    >section {
        margin-block: 8rem !important;
    }
}

// end top header
// start arrivals section
.arrivals,
.best-seller {
    // border: 1px solid red;
    justify-content: space-between;
    gap: 2rem;

    >h2 {
        font-size: 4rem;
        font-weight: normal;
        width: 100%;
        display: flex;
        align-items: center;

    }

    // >.action {
    //     border: 1px solid blue;
    // }
    >.row {
        margin-block: 2rem;
        gap: 1rem;

        >.card {
            flex: 1 1 300px;
        }
    }
}

@media screen and (min-width:768px) {

    .arrivals,
    .best-seller {
        >h2 {
            width: fit-content;
        }
    }
}

// end arrivals section
// start peronolize-care section
.peronolize-care,
.unparalleled-superiority {


    >.row {
        gap: 1rem;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 1 500px;
            padding: 5rem;

            .icon {
                margin-bottom: 5rem;
            }

            >h3 {
                font-size: 3rem;
                text-align: center;
            }

            >p {
                text-align: center;
            }
        }
    }
}

// end peronolize-care section
// start unparalleled-superiority section
.unparalleled-superiority {
    >.row {
        >.card {
            position: relative;
            flex: 1 1 400px;

            >h3,
            >p,
            >.btn {
                margin-bottom: 1rem;
            }

            >figure {
                height: 40rem;

                >img {
                    position: absolute;
                    height: 40rem;
                    left: 0;
                    bottom: 0;
                    // border: 1px solid red;
                }
            }
        }
    }

}

@media screen and (min-width:768px) {
    .unparalleled-superiority {

        >.row {
            >.card {

                &:nth-of-type(3) {
                    flex: 2 1 100%;
                }

                &:nth-of-type(1),
                &:nth-of-type(5) {
                    flex-grow: 3;
                }
            }
        }
    }
}

// start unparalleled-superiority section 

// start popular-brand section
.popular-brand {
    >.row {
        gap: 1rem;
        margin-bottom: 1rem;

        >figure {
            --var-h: 8rem;
            // border: 1px solid red;
            width: 100%;
            position: relative;
            height: var(--var-h);
            border-radius: 25px;
            overflow: hidden;
            cursor: pointer;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >figcaption {
                position: absolute;
                bottom: 0;
                left: 0;
                color: v.$btn-color;
                font-size: 3rem;
                width: 100%;
                height: var(--var-h);
                display: flex;
                justify-content: center;
                align-items: center;

            }


        }

        &:nth-of-type(1) {
            >figure {
                &:nth-of-type(1) {
                    >figcaption {
                        background-image: linear-gradient(to bottom, #fff0,
                                #5fe3d4b3 65%);
                    }
                }

                &:nth-of-type(2) {
                    >figcaption {
                        background-image: linear-gradient(to bottom, #fff0,
                                #89d28db3 65%);
                    }
                }

                &:nth-of-type(3) {
                    >figcaption {
                        background-image: linear-gradient(to bottom, #fff0,
                                #f6ae01b3 65%);
                    }
                }


            }
        }

        &:nth-of-type(2) {
            >figure {
                &:nth-of-type(1) {
                    >figcaption {
                        background-image: linear-gradient(to bottom, #fff0,
                                #f0002fb3 65%);
                    }
                }

                &:nth-of-type(2) {
                    >figcaption {
                        background-image: linear-gradient(to bottom, #fff0,
                                #a75427b3 65%);
                    }
                }

                &:nth-of-type(3) {
                    >figcaption {
                        background-image: linear-gradient(to bottom, #fff0,
                                #fd92a6b3 65%);
                    }
                }
            }

        }
    }

    >div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 5rem;
        // border: 1px solid red;
        height: 7rem;
    }

}

@media screen and (min-width:768px) {
    .popular-brand {
        >.row {
            >figure {
                height: 50rem;
                flex: 1 1 200px;
                transition: 1s;

                &:hover {
                    flex-grow: 2;
                }
            }
        }
    }
}

// end popular-brand section 
// start moto section 
.moto {
    width: 100%;
    padding: 5rem;
    background-color: v.$black-color;
    margin-bottom: 5rem;
    color: v.$btn-color;
    overflow: hidden;

    >.text {
        font-size: 6rem;
        white-space: nowrap;
        font-weight: bold;
        animation: marque 10s linear infinite;
    }
}

@keyframes marque {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

// end moto section 
// start explore section
.explore {
    >.row {
        &:nth-of-type(1) {

            gap: 1rem;
            margin-bottom: 5rem;

            >figure {
                flex: 1 1 50rem;
                aspect-ratio: 1/1;
                border-radius: 25px;
                overflow: hidden;
                position: relative;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.4s;

                    &:hover {
                        scale: 1.3;
                    }
                }

                >figcaption {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem;
                    gap: 2rem;

                    >h3 {
                        color: v.$btn-color;
                        font-size: 4rem;
                    }

                    >div {
                        height: 5rem;
                    }
                }
            }

        }

        &:nth-of-type(2) {
            gap: 1rem;

            >.card {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1 1 50rem;

                >h4 {
                    font-size: 2rem;
                }

                >p {
                    text-align: center;
                }
            }
        }
    }
}


// end explore section
// start instagram section
.instagram {
    strong {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    >.row {
        gap: 1rem;
        margin-top: 4rem;

        >a {
            flex: 1 1 25rem;

            >figure {
                border-radius: 1rem;
                overflow: hidden;
                position: relative;
                width: 100%;
                aspect-ratio: 1/1;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::after {
                    content: "\f16d";
                    font-size: 5rem;
                    color: v.$btn-color;
                    justify-content: center;
                    align-items: center;
                    font-family: "Font Awesome 6 Brands";
                    display: flex;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    opacity: 0;
                    transition: 0.6s;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// end instagram section
// End main

// Start footer
footer {
    background-color: v.$black-color;
    color: v.$btn-color;
    padding-block: 4rem;

    >.row {
        justify-content: space-between;
        margin-bottom: 1rem;

        &:nth-of-type(1) {
            gap: 2rem;

            >figure {
                width: 100%;
                // border: 1px solid red;

                >figcaption {
                    margin-top: 1rem;
                    text-align: justify;
                }

                &:last-of-type {
                    border-radius: 5px;
                    overflow: hidden;
                    perspective: 800px;
                    min-height: 30rem;

                    >div {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        transition: 1s;
                        transform-style: preserve-3d;


                        >img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top 50%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            filter: saturate(200%);
                        }

                        >figcaption {
                            transform: rotateY(180deg);
                            backface-visibility: hidden;
                            display: flex;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            justify-content: center;
                            align-items: flex-start;
                            padding-left: 2rem;
                            flex-direction: column;
                            background-color: #deebd9;
                            color: v.$black-color;
                            margin-top: 0;

                            >h3 {
                                font-size: 3rem;
                                line-height: 1.21;
                                margin-bottom: 2rem;
                                text-shadow: 5px 5px 20px grey;
                            }

                            >a {
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                transition: 0.4s;

                                &:hover {
                                    scale: 1.3;
                                }

                                // border: 1px solid red;
                            }
                        }


                    }

                    &:hover {
                        >div {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }

            >div {
                width: 48%;
                // border: 1px solid red;

                >span {
                    opacity: 0.4;
                    font-weight: bold;
                    font-size: 1.8rem;
                }

                >ul {
                    padding-left: 2rem;

                    >li {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 4rem;

                        >a {
                            >span {
                                width: 100%;
                                justify-content: start;
                            }
                        }
                    }
                }
            }
        }

        &:nth-of-type(2) {

            border-top: 2px solid v.$btn-color;

            >p {
                width: 100%;
                text-align: center;
                padding: 2rem;
                font-size: 2rem;
            }
        }
    }
}

@media screen and (min-width : 768px) {
    footer {
        >.row {
            &:nth-of-type(1) {
                >* {
                    flex: 1 1 15rem;
                }
            }
        }
    }
}

// End footer